@font-face {
  font-family: "HeadingProWideTrial-Regular";
  src: url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff2")
      format("woff2"),
    url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HeadingProWideTrial-Heavy";
  src: url("fonts/heading_pro_wide/HeadingProWideTrial-Heavy.woff2")
      format("woff2"),
    url("fonts/heading_pro_wide/HeadingProWideTrial-Heavy.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "TypeMachine";
  src: url("fonts/Typemachine/TypeMachine.woff2") format("woff2"),
    url("fonts/Typemachine/TypeMachine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-accent: #6d5da5;
  --color-white-transparent: rgba(255, 255, 255, 0);
  --color-white-soft: rgba(255, 255, 255, 0.25);
}

/* A partir de aquí, todos los colores han sido reemplazados por variables */

nav {
  color: var(--color-black);
}
nav li a {
  color: var(--color-black);
}
nav.nav-scrolled {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black);
}
nav.nav-scrolled a {
  color: var(--color-black);
}
.menulink {
  color: var(--color-white);
}
.entrada_general,
.entrada_plus,
.entrada_boton_superplus {
  background-color: var(--color-black);
  color: var(--color-white);
}
.entrada_superplus {
  background-color: var(--color-accent);
  color: var(--color-black);
}
.entrada_boton {
  background-color: var(--color-accent);
  color: var(--color-black);
}
.seleccionar_varias {
  background-color: var(--color-accent);
  color: var(--color-black);
}
.food_menu {
  background-color: var(--color-black);
}
.food_menu label {
  color: var(--color-white);
}
.food_menu input[type="number"] {
  border: 1px solid var(--color-accent);
  color: var(--color-white);
}
.food_menu input[type="number"]:focus {
  border-color: var(--color-black);
}
.food_menu .total_price_cont {
  color: var(--color-accent);
}
.food_menu .buy_food {
  background-color: var(--color-accent);
  color: var(--color-black);
}
.food_menu .buy_food:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
footer {
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}
.footer_direccion,
.footer_contacto > p,
.footer_contacto > ul {
  color: var(--color-black);
}
.newsletter_formulario label {
  color: var(--color-black);
}
.newsletter_formulario button {
  background-color: var(--color-black);
  color: var(--color-white);
}
.menu {
  background: var(--color-black);
}
.menu li a,
.fa-times,
.menulink {
  color: var(--color-white);
}
