@font-face {
  font-family: "HeadingProWideTrial-Regular";
  src: url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff2")
      format("woff2"),
    url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HeadingProWideTrial-Heavy";
  src: url("fonts/heading_pro_wide/HeadingProWideTrial-Heavy.woff2")
      format("woff2"),
    url("fonts/heading_pro_wide/HeadingProWideTrial-Heavy.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "TypeMachine";
  src: url("fonts/Typemachine/TypeMachine.woff2") format("woff2"),
    url("fonts/Typemachine/TypeMachine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 4rem;
}
nav li a {
  font-family: "HeadingProWideTrial-Regular";
  font-size: 1.2em;
  font-weight: 500;
  color: #000000;
}
nav.nav-scrolled {
  background-color: white;
  border-bottom: 1px solid #000;
  transition: background-color 0.3s ease;
}
nav.nav-scrolled a {
  color: black;
}
.menulink {
  list-style: none;
  color: white;
}
.menulink:hover a {
  opacity: 50%;
}
.titulo_formulario {
  cursor: pointer;
  font-size: 1.2em;
  display: none;
}
.logo_nav {
  margin-right: auto;
  height: 100%;
}
.logo_nav img {
  width: 4vw;
  max-width: 70px;
  height: auto;
}

.entradas {
  padding: 5rem 2rem 4rem;
  flex-wrap: wrap;
  min-width: 632 px;
}
.entradas_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;

  margin: 0 auto;
}
.entrada_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 300px;
  width: 100%;
  font-family: "HeadingProWideTrial-Regular";
  overflow: hidden;
}
.entrada_general {
  background-color: black;
  color: white;
}
.entrada_plus {
  background-color: black;
  color: white;
}
.entrada_superplus {
  background-color: #6d5da5;
  color: black;
}
.entrada_img {
  width: 100%;
  height: auto;
}
.entrada_contenido {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.entrada_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0, 3rem;
}

.entrada_precio {
  font-size: 2rem;
  font-family: "TypeMachine";
}
.entrada_lista h3 {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.entrada_lista ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  font-family: "TypeMachine", sans-serif;
  line-height: 1.6;
}
.entrada_boton {
  background-color: #6d5da5;
  color: black;
  font-size: 1.75rem;
  font-weight: 800;
  font-family: "HeadingProWideTrial-Regular", sans-serif;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  margin-top: auto;
}
.entrada_boton a:hover {
  opacity: 50%;
  scale: 1rem;
  transition: 0.3s;
}
.entrada_boton_superplus {
  background-color: black;
  color: white;
}
.entrada_boton button,
.seleccionar_varias button {
  all: unset;
  display: block;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  cursor: pointer;
}

.entrada_boton:hover {
  opacity: 50%;
  scale: 1rem;
  transition: 0.3s;
}
.seleccionar_varias {
  color: black;
  background-color: #ffffff;
  border: 1px solid black;
  font-family: "HeadingProWideTrial-Regular";
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  padding: 1rem;
  margin-top: 2rem;
}
.seleccionar_varias:hover {
  scale: 1rem;
  transition: 0.3s;
  color: white;
  background-color: black;
  border: 1px solid white;
}
.formulario_entradas {
  display: none;
  background-color: white;
  border: 1px solid black;
  padding: 2rem;
  margin: 4rem auto;
  max-width: 728px;
  font-family: "HeadingProWideTrial-Regular", sans-serif;
}

.formulario_entradas.menu_visible {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formulario_entradas form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.formulario_entradas label {
  font-size: 1.2rem;
  color: black;
  font-family: "TypeMachine";
}

.formulario_entradas .total_price_cont {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #000000;
  margin-top: 2rem;
  font-family: "TypeMachine";
}
.formulario_entradas .total_price_cont p {
  font-size: 1, 5rem;
}
.formulario_entradas .buy_food {
  background-color: black;
  color: white;
  font-family: "HeadingProWideTrial-Regular";
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid black;
}

.formulario_entradas .buy_food:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.3s;
}

.entrada_selector {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.contador {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.contador input {
  width: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "TypeMachine";
  border: 1px solid #000000;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
}

.contador button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.5rem;
  font-family: "HeadingProWideTrial-Regular";
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

footer {
  width: 100%;
  padding: 2rem;
}
.footer_superior_wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}
.footer_superior {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1200px;
  margin: 3rem auto 0;
  padding-bottom: 2rem;
}
.footer_superior > div {
  flex: 1 1 250px;
}
.footer_direccion {
  text-align: left;
  color: black;
  font-size: 1rem;
  font-family: "TypeMachine";
  text-transform: uppercase;
  line-height: 21.93px;
  max-width: 300px;
}
.footer_contacto > p {
  color: black;
  font-size: 1rem;
  font-family: "HeadingProWideTrial-Heavy";
  font-weight: bolder;
  margin-bottom: 0.5rem;
  text-align: left;
}
.footer_contacto > ul {
  color: black;
  font-size: 1rem;
  font-family: "TypeMachine";
  line-height: 21.93px;
  text-align: left;
}
.footer_contacto > ul > li > a,
.footer_contacto > ul > a {
  text-decoration: underline;
  opacity: 50%;
}
.footer_contacto > ul > li > a:hover,
.footer_contacto > ul > a:hover {
  opacity: 100%;
}
.newsletter_formulario {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 395px;
  width: 100%;
}
.newsletter_formulario label,
.newsletter_formulario input,
.newsletter_formulario button {
  font-family: "TypeMachine";
  font-size: 1rem;
  text-transform: uppercase;
}
.newsletter_formulario input {
  padding: 0.3rem;
}
.newsletter_formulario button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
}
.footer_inferior {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
  font-family: "TypeMachine";
}
.partner > p {
  margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
  .logo_nav img {
    width: 8vw;
    height: auto;
  }
  .entradas_wrapper {
    align-items: center;
  }
  .entrada_card {
    width: 90%;
    max-width: 50vw;
  }

  .entrada_header h2 {
    font-size: 1rem;
  }
  .entrada_precio {
    font-size: 0.9rem;
  }
  .entrada_lista h3 {
    font-size: 0.85rem;
  }
  .entrada_lista ul {
    font-size: 0.75rem;
  }
  .entrada_boton {
    font-size: 1rem;
    padding: 0.8rem;
  }
  .seleccionar_varias {
    font-size: 1rem;
    padding: 0.8rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .titulo_formulario {
    display: block;
  }
  nav li a {
    color: white;
  }
  .menu {
    margin: 0;
    background: #000000;
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    z-index: 1001;
    scroll-behavior: sticky;
  }

  .menu.menu-show {
    top: 0;
    height: 100vh;
    right: 0;
  }

  .menulink {
    font-size: 1.2rem;
    text-align: center;
    color: white;
  }

  .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
    font-size: 1.5rem;
    color: white;
  }

  .logo_nav img {
    width: 15vw;
    height: auto;
  }

  .entrada_contenido {
    padding: 0.8rem;
  }
  .entrada_card {
    min-height: unset;
    height: auto;
  }

  .entrada_header h2 {
    font-size: 0, 3rem;
  }

  .entrada_precio {
    font-size: 0, 2rem;
  }

  .entrada_lista h3 {
    font-size: 0.6rem;
  }

  .entrada_lista ul {
    font-size: 0.5rem;
  }

  .entrada_boton {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .seleccionar_varias {
    font-size: 1rem;
    padding: 0.6rem;
    width: 80%;
    margin-top: 2rem;
  }
  .formulario_entradas {
    padding: 1rem;
    margin: 2rem auto;
    width: 90%;
  }

  .formulario_entradas form > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .formulario_entradas label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .formulario_entradas input[type="number"] {
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
  }

  .formulario_entradas .total_price_cont {
    flex-direction: column;
    align-items: flex-start;
    font-size: 0, 5rem;
  }
  .formulario_entradas .total_price_cont {
    font-family: "TypeMachine";
  }
  .formulario_entradas .buy_food {
    font-size: 1.2rem;
    padding: 0.8rem;
    width: 100%;
  }
  .contador {
    justify-content: space-between;
    width: 100%;
  }

  .contador input {
    flex: 1;
    text-align: center;
  }

  .contador button {
    flex: 0 0 auto;
  }

  .footer_superior > div,
  .footer_inferior > div {
    font-size: 0.8rem;
  }

  .footer_direccion,
  .footer_contacto > p,
  .footer_contacto > ul,
  .newsletter_formulario label,
  .newsletter_formulario input,
  .newsletter_formulario button {
    font-size: 0.8rem;
  }

  .newsletter_formulario input,
  .newsletter_formulario button {
    padding: 0.8rem;
  }

  .newsletter_formulario button {
    margin-top: 0.5rem;
  }

  .footer_inferior img {
    width: 2.5rem !important;
    margin: 0.5rem !important;
  }

  .logo_footer {
    width: 4rem;
    height: auto;
  }
}
