@font-face {
  font-family: "HeadingProWideTrial-Regular";
  src: url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff2")
      format("woff2"),
    url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HeadingProWideTrial-Heavy";
  src: url("fonts/heading_pro_wide/HeadingProWideTrial-Heavy.woff2")
      format("woff2"),
    url("fonts/heading_pro_wide/HeadingProWideTrial-Heavy.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "TypeMachine";
  src: url("fonts/Typemachine/TypeMachine.woff2") format("woff2"),
    url("fonts/Typemachine/TypeMachine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
}
nav li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: "HeadingProWideTrial-Regular";
  font-size: 1.2em;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 40px;
  color: rgb(0, 0, 0);
  z-index: 99;
  width: 100%;
  padding: 20px 50px;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 4rem;
}
nav.nav-scrolled {
  background-color: white;
  transition: background-color 0.3s ease;
  z-index: 999;
  border-bottom: #000000 1px solid;
}

nav.nav-scrolled a {
  color: black;
}
.menulink {
  list-style: none;
  margin: 0;
}
.menulink:hover a {
  opacity: 50%;
}

.burger {
  cursor: pointer;
  font-size: 1.2em;
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}
main > div {
  display: flex;
  justify-content: center;
  margin: 4rem;
}
.cartel_fstvlb {
  width: 95vw;
  height: auto;
}

footer {
  width: 100%;
  padding: 2rem;
  background-color: white;
}
.footer_superior_wrapper {
  border-top: 1px solid black;
  width: 100%;
  border-bottom: 1px solid black;
}
.footer_superior {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 2rem;
}
.footer_superior > div {
  flex: 1 1 250px;
}

.footer_direccion {
  text-align: left;
  color: black;
  font-size: 1rem;
  font-family: "TypeMachine";
  text-transform: uppercase;
  line-height: 21.93px;
  max-width: 300px;
}
.footer_contacto > p {
  color: black;
  font-size: 1rem;
  font-family: "HeadingProWideTrial-Heavy";
  font-weight: bolder;
  margin-bottom: 0.5rem;
  text-align: left;
}
.footer_contacto > ul {
  color: black;
  font-size: 1rem;
  font-family: "TypeMachine";
  line-height: 21.93px;
  text-align: left;
}
.footer_contacto > ul > li > a {
  text-decoration: underline;
  opacity: 50%;
}
.footer_contacto > ul > li > a:hover {
  opacity: 100%;
}
.footer_contacto > ul > a {
  text-decoration: underline;
  opacity: 50%;
}
.footer_contacto > ul > a:hover {
  opacity: 100%;
}
.newsletter_formulario {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  max-width: 395px;
}

.newsletter_formulario label {
  font-family: "TypeMachine";
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
}

.newsletter_formulario input {
  padding: 0.3rem;
  font-family: "TypeMachine";
  font-size: 1rem;
  text-transform: uppercase;
}

.newsletter_formulario button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.3rem;
  font-family: "TypeMachine";
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.footer_inferior {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  padding-top: 3rem;
  margin: 0 auto;
  gap: 3rem;
  font-family: "TypeMachine";
}
.partner > p {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .menu {
    margin: 0;
    background: #000000;
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    z-index: 1001;
    scroll-behavior: sticky;
  }
  .menu.menu-show {
    top: 0;
    height: 100vh;
    right: 0;
  }

  .menulink {
    font-size: 1.2rem;
    text-align: center;
  }
  .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
    font-size: 1.5rem;
    color: white;
  }

  .footer_superior > div,
  .footer_inferior > div {
    font-size: 0.8rem;
  }

  .footer_direccion,
  .footer_contacto > p,
  .footer_contacto > ul,
  .newsletter_formulario label,
  .newsletter_formulario input,
  .newsletter_formulario button {
    font-size: 0.8rem;
  }

  .newsletter_formulario input,
  .newsletter_formulario button {
    padding: 0.8rem;
  }
  .newsletter_formulario button {
    margin-top: 0.5rem;
  }

  .footer_inferior img {
    width: 2.5rem !important;
    margin: 0.5rem !important;
  }
  .logo_footer {
    width: 4rem;
    height: auto;
  }
}
