* {
  margin: 0;
  padding: 0;
}
.zona_superior {
  background-image: url("https://ik.imagekit.io/noradezabala/WEB_FESTIVAL/FSTVLB25-10-BarryB-1536x1024.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0;
}
.hero {
  height: 100vh;
  margin: 0;
}
.contenido {
  background-color: white;
  padding: 60px 20px;
  text-align: center;
}
footer {
  background-color: #111;
  color: white;
  padding: 40px 20px;
  text-align: center;
}
