@font-face {
  font-family: "HeadingProWideTrial-Regular";
  src: url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff2")
      format("woff2"),
    url("fonts/heading_pro_wide/HeadingProWideTrial-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_fondo {
  display: flex;
  height: 100vh;
  position: relative;
  max-width: 100%;
  max-height: auto;
}
.img_fondo img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.img_logo {
  position: absolute;
  top: 55%;
  left: 50%;
  max-height: 80vh;
  max-width: 90vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
footer {
  background-color: #111;
  color: white;
  padding: 40px 20px;
  text-align: center;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
nav li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "HeadingProWideTrial-Regular";
  font-size: 1.2em;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 40px;
  color: white;
  z-index: 99;
  width: 100%;
  padding: 20px 50px;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 4rem;
}
.menulink {
  list-style: none;
  margin: 0;
}
.menulink:hover a {
  color: var(--accent-color);
}
.comprar_entradas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  font-family: "HeadingProWideTrial-Regular";
}

.comprar_entradas a {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: bold;
  display: inline-block;
}
.burger {
  cursor: pointer;
  font-size: 1.2em;
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}
p {
  margin: 2rem;
}
.about_festival {
  font-size: 1.2 rem;
}

@media (max-width: 768px) {
  .img_fondo {
    height: 60vh;
  }

  .img_logo {
    top: 50%;
    max-height: 40vh;
  }
  .burger {
    display: block;
  }
  .menu {
    margin: 0;
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    z-index: 1;
  }

  .menulink {
    font-size: 1.2rem;
    text-align: center;
  }

  .menu-show {
    right: 0;
  }
}
@media (max-width: 1164px) {
  .comprar_entradas {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1001;
    padding: 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    border-color: #ffffff;
  }

  .comprar_entradas a {
    font-size: 0.6rem;
    padding: 10px 20px;
    max-width: 80%;
    white-space: normal;
  }
}
